<div class="account-selection">
  <div class="option-group">
    <h2>   出張パーソナルトレーニングご利用の方はこちら</h2>
    <div class="links">
      <%= link_to "Sign up", new_user_registration_path, class:"signup-link" %>
      <%= link_to "Sign in", new_user_session_path, class:"signin-link" %>
    </div>
  </div>
  <div class="option-group">
    <div class="box">
      <h3>トレーナー希望(理学療法士)の方はこちら</h3>
      <div class="links">
        <%= link_to "Sign up", new_trainer_registration_path, class:"signup-link" %>
        <%= link_to "Sign in", new_trainer_session_path, class:"signin-link" %>
      </div>
    </div>
  </div>
</div>
