/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */


 /* styles.css */ 
 html, body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* 横スクロールバーを非表示にする */
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.php-icon {
  width: 100%;
  max-width: 350px; /* 最大幅を設定 */
  height: auto;    /* 高さを自動調整 */
}

nav a.signin-link {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  margin-right: 20px;
}

.common-content {
  background-color: #e0ecf8;
  padding-top: 80px; /* ヘッダーの高さを考慮 */
  min-height: calc(100vh - 140px); /* フッターを含めた高さを計算 */
  overflow-y: auto; /* 縦スクロールバーを表示 */
  display: flex;
  justify-content: center; /* 中央に配置 */
  align-items: flex-start; /* 上部から開始 */
}

footer {
  height: 60px;
  text-align: center;
  padding: 10px 0;
  background-color: #f8f8f8;
  width: 100%;
  font-size: 14px;
  color: #555555;
  position: relative;
  bottom: 0;
}

footer a {
  color: #555555;
  text-decoration: none;
}